.Home-subheading {
    text-transform: uppercase; 
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;  
    font-size: 20px; 
    letter-spacing: 1px;
}
.homeinfo{
    margin-left: auto;
}
body {
  padding-top: 180px; /* equal to navbar height */
}
.myimg {
  max-width: 80%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  padding: 6px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  animation: float 4s ease-in-out infinite;
}
.home-section {
  
  display: flex;
  align-items: center;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.Home-heading{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;  
    font-size: 50px; 
}
.Home-para{
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;   
  letter-spacing: 1px;
  font-size: 20px;
}
.btn-outline-info {
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 20px;
  transition: 0.3s;
}

.btn-outline-info:hover {
  transform: translateY(-5px);
}
