.projects-section {

  color: white;
}

.projects-heading {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;  
    font-size: 50px; 
    text-transform: uppercase;
    color: black;
}


.toggle-wrapper button {
  margin: 0 10px;
  padding: 8px 22px;
  border: none;
  border-radius: 25px;
  background-color: #1e293b;
  color: white;
  transition: 0.3s ease;
}

.toggle-wrapper button.active {
  background-color: #38bdf8;
  color: #0f172a;
}

.toggle-wrapper button:hover {
  background-color: #334155;
}

.project-card {
  background-color: #1e293b;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s ease;
  height: 100%;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.project-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-body {
  padding: 20px;
  flex: 1;
}
.techstack{
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;  
  font-size: 30px; 
  text-transform: uppercase;
}
.project-body h5 {
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;  
  font-size: 20px; 
  text-transform: uppercase;

}

.project-body p {
  font-size: 14px;
  color: #cbd5e1;
   font-family: "Inter Tight", sans-serif;
  font-weight: 300;   
  letter-spacing: 1px;
 
}

.project-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
