
.Intern-heading{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;  
    font-size: 50px; 
    text-transform: uppercase;
}
.internship-item {
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.3s ease;
  background-color:  #111827;
}
.intern-heading{
    text-transform: uppercase; 
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;  
    font-size: 25px; 
    letter-spacing: 1px;
    color: antiquewhite;
}
.intern-subheading{
    text-transform: uppercase; 
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;  
    font-size: 15px; 
    letter-spacing: 2px;
    color: antiquewhite;
}
.intern-date{
    text-transform: uppercase; 
    font-family: "Space Grotesk", sans-serif;
    font-weight: bolder;  
    font-size: 8px; 
    letter-spacing: 2px;
    color: antiquewhite;
}
.intern-para{
  font-family: "Inter Tight", sans-serif;
  font-weight: 300;   
  letter-spacing: 1px;
  font-size: 15px;
  color: antiquewhite;
}