.navbar {
  padding: 15px 0;
}

/* Brand */
.brand {
  font-family: "Bungee", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Nav Links */
.navbar-nav .nav-link {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 5px;
  color: white !important;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: tomato !important;
}

/* Resume Button */
.resume-btn {
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 6px;
  transition: 0.3s;
}

.resume-btn:hover {
  background-color: tomato !important;
  border-color: tomato !important;
  color: white !important;
}
