.navbar-brand{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.nav-item .nav-link{
  color: #E5E7EB;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  text-transform: uppercase;
   font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal
}
/* .navbar {
  background-color: black !important;
} */

.navbar .nav-link,
.navbar .navbar-brand {
  color: rgb(255, 255, 255) !important;
}

.navbar .nav-link:hover {
  color: tomato !important;
}
.navbar .nav-link.active {
  color: tomato;
}
.brand{
  text-transform: uppercase;
  font-family: "Bungee", sans-serif;
  font-weight: 40;
  font-style: normal;
}
